<section id="user" *ngIf="form">

  <form [formGroup]="form" (ngSubmit)="onSubmit(form)" autocomplete="false">
    <h2>User information</h2>
    
    <!-- First name -->
    <mat-form-field class="form-item">
      <mat-label for="firstName">First name</mat-label>
      <input matInput name="firstName" formControlName="firstName">
      <mat-error *ngIf="form.get('firstName').invalid">
        First name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Last name -->
    <mat-form-field class="form-item">
      <mat-label for="lastName">Last name</mat-label>
      <input matInput name="lastName" formControlName="lastName">
      <mat-error *ngIf="form.get('lastName').invalid">
        Last name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Project type -->
    <div class="form-item centered-vertically">
      <mat-radio-group
        formControlName="type">
        <mat-radio-button value="new">
          New project
        </mat-radio-button>
        <mat-radio-button value="existing" [disabled]="!projects || !projects.length">
          Existing project
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Project -->
    <mat-form-field class="form-item" *ngIf="form.get('type').value === 'existing' && projects">
      <mat-label for="projectId">Project ID</mat-label>
      <input matInput
        [matAutocomplete]="auto"
        name="projectId"
        formControlName="projectId">
      <mat-autocomplete #auto>
        <mat-option *ngFor="let project of filteredProjects | async" [value]="project.projectId">
          <span>{{project.name}}</span> |
          <small>Project ID: {{project.projectId}}</small>
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="form.get('projectId').invalid">
        Project ID is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Submit button -->
    <div class="submit">
      <button mat-button type="submit" color="accent" [disabled]="form.invalid">Next</button>
    </div>

  </form>

</section>