<section id="funding" *ngIf="form">

  <form [formGroup]="form" (ngSubmit)="onSubmit(form)" autocomplete="false">
    <h2>Funding Source</h2>

    <!-- Project name -->
    <mat-form-field class="form-item">
      <mat-label for="name">Project name</mat-label>
      <input matInput name="name" [value]="projectService?.selectedProject()?.name" disabled>
    </mat-form-field>

    <!-- Funding source -->
    <mat-form-field class="form-item">
      <mat-label for="funding_source">Funding source</mat-label>
      <input matInput name="funding_source" formControlName="funding_source">
      <mat-error *ngIf="form.get('funding_source').invalid">
        Funding source is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Submit button -->
    <div class="submit">
      <button mat-button type="submit" color="accent" [disabled]="form.invalid">Next</button>
    </div>

  </form>

</section>