<section id="beneficiary" *ngIf="form">

  <form [formGroup]="form" (ngSubmit)="onSubmit(form)" autocomplete="false">
    <h2>Beneficiary</h2>

    <!-- Project name -->
    <mat-form-field class="form-item">
      <mat-label for="name">Project name</mat-label>
      <input matInput name="name" [value]="projectService?.selectedProject()?.name" disabled>
    </mat-form-field>

    <!-- Financial Year -->
    <mat-form-field class="form-item">
      <mat-label for="financial_year">Financial Year</mat-label>
      <input matInput name="financial_year" formControlName="financial_year">
      <mat-error *ngIf="form.get('financial_year').invalid">
        Financial Year is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Gender -->
    <mat-form-field class="form-item">
      <mat-label for="gender">Gender</mat-label>
      <mat-select name="gender" formControlName="gender">
        <mat-option disabled>Select gender</mat-option>
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
        <mat-option value="other">Other</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('gender').invalid">
        Gender is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Number of Beneficiaries -->
    <mat-form-field class="form-item">
      <mat-label for="number_of_beneficiaries">Number of Beneficiaries</mat-label>
      <input matInput type="number" name="number_of_beneficiaries" formControlName="number_of_beneficiaries">
      <mat-error *ngIf="form.get('number_of_beneficiaries').invalid">
        Number of Beneficiaries is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Submit button -->
    <div class="submit">
      <button mat-button type="submit" color="accent" [disabled]="form.invalid">Add</button>
    </div>

  </form>

  <ng-container *ngIf="dataSource?.length">
    <h3>Added Beneficiaries</h3>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="financial_year">
        <th mat-header-cell *matHeaderCellDef>Financial Year</th>
        <td mat-cell *matCellDef="let row">{{row.financial_year}}</td>
      </ng-container>
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Gender</th>
        <td mat-cell *matCellDef="let row">{{row.gender}}</td>
      </ng-container>
      <ng-container matColumnDef="number_of_beneficiaries">
        <th mat-header-cell *matHeaderCellDef>Number of Beneficiaries</th>
        <td mat-cell *matCellDef="let row">{{row.number_of_beneficiaries}}</td>
      </ng-container>
      <ng-container matColumnDef="addedBy">
        <th mat-header-cell *matHeaderCellDef>Added By</th>
        <td mat-cell *matCellDef="let row">{{row.user}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row"><button mat-button color="warn" (click)="remove(row)">Remove</button></td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-container>

</section>