<section id="audit">
  <h2>Admin Module</h2>

  <div id="table-header">
    <h3>Projects pending approval</h3>
    <mat-form-field id="search-input">
      <mat-label>Search Projects</mat-label>
      <input matInput type="text" #searchInput>
      <svg matSuffix xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
    </mat-form-field>
  </div>

  <ng-container *ngIf="(projects | filter:searchInput.value).length; else noProjects">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let project of projects | filter:searchInput.value" (opened)="requestDetails(project)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{project.projectId}}: {{project.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <table>
          <tr>
            <td class="fit-width">Start date:</td>
            <td>{{project.startDate}}</td>
          </tr>
          <tr>
            <td class="fit-width">End date:</td>
            <td>{{project.endDate}}</td>
          </tr>
          <tr>
            <td class="fit-width">Budget:</td>
            <td>{{project.budget}}</td>
          </tr>
          <tr>
            <td class="fit-width">Summary:</td>
            <td>{{project.summary}}</td>
          </tr>
          <tr>
            <td class="fit-width">Comments:</td>
            <td>{{project.comments}}</td>
          </tr>
        </table>



        <h4>Beneficiaries</h4>
        <ng-container *ngIf="projectDetails?.length && projectDetails[1]?.length; else noBeneficiaries">
          <table mat-table [dataSource]="projectDetails[1]" class="mat-elevation-z8">
            <ng-container matColumnDef="financial_year">
              <th mat-header-cell *matHeaderCellDef>Financial Year</th>
              <td mat-cell *matCellDef="let row">{{row.financial_year}}</td>
            </ng-container>
            <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef>Gender</th>
              <td mat-cell *matCellDef="let row">{{row.gender}}</td>
            </ng-container>
            <ng-container matColumnDef="number_of_beneficiaries">
              <th mat-header-cell *matHeaderCellDef>Number of Beneficiaries</th>
              <td mat-cell *matCellDef="let row">{{row.number_of_beneficiaries}}</td>
            </ng-container>
            <ng-container matColumnDef="addedBy">
              <th mat-header-cell *matHeaderCellDef>Added By</th>
              <td mat-cell *matCellDef="let row">{{row.user}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['financial_year', 'gender', 'number_of_beneficiaries', 'addedBy']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['financial_year', 'gender', 'number_of_beneficiaries', 'addedBy'];"></tr>
          </table>
        </ng-container>
        <ng-template #noBeneficiaries>
          <p><em>No Beneficiaries added</em></p>
        </ng-template>



        <h4>Budgets</h4>
        <ng-container *ngIf="projectDetails?.length && projectDetails[2]?.length; else noBudgets">
          <table mat-table [dataSource]="projectDetails[2]" class="mat-elevation-z8">
            <ng-container matColumnDef="budget">
              <th mat-header-cell *matHeaderCellDef>Budget</th>
              <td mat-cell *matCellDef="let row">{{row.budget}}</td>
            </ng-container>
            <ng-container matColumnDef="financialYear">
              <th mat-header-cell *matHeaderCellDef>Financial Year</th>
              <td mat-cell *matCellDef="let row">{{row.financialYear}}</td>
            </ng-container>
            <ng-container matColumnDef="addedBy">
              <th mat-header-cell *matHeaderCellDef>Added By</th>
              <td mat-cell *matCellDef="let row">{{row.user}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['budget', 'financialYear', 'addedBy']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['budget', 'financialYear', 'addedBy'];"></tr>
          </table>
        </ng-container>
        <ng-template #noBudgets>
          <p><em>No Budgets added</em></p>
        </ng-template>



        <h4>Contacts</h4>
        <ng-container *ngIf="projectDetails?.length && projectDetails[3]?.length; else noContact">
          <table mat-table [dataSource]="projectDetails[3]" class="mat-elevation-z8">
            <ng-container matColumnDef="first_name">
              <th mat-header-cell *matHeaderCellDef>First name</th>
              <td mat-cell *matCellDef="let row">{{row.first_name}}</td>
            </ng-container>
            <ng-container matColumnDef="last_name">
              <th mat-header-cell *matHeaderCellDef>Last name</th>
              <td mat-cell *matCellDef="let row">{{row.last_name}}</td>
            </ng-container>
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>Email</th>
              <td mat-cell *matCellDef="let row">{{row.email}}</td>
            </ng-container>
            <ng-container matColumnDef="country">
              <th mat-header-cell *matHeaderCellDef>Country</th>
              <td mat-cell *matCellDef="let row">{{row.country}}</td>
            </ng-container>
            <ng-container matColumnDef="function">
              <th mat-header-cell *matHeaderCellDef>Function</th>
              <td mat-cell *matCellDef="let row">{{row.function}}</td>
            </ng-container>
            <ng-container matColumnDef="type_of_contact">
              <th mat-header-cell *matHeaderCellDef>Type of Contact</th>
              <td mat-cell *matCellDef="let row">{{row.type_of_contact}}</td>
            </ng-container>
            <ng-container matColumnDef="addedBy">
              <th mat-header-cell *matHeaderCellDef>Added By</th>
              <td mat-cell *matCellDef="let row">{{row.user}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['first_name', 'last_name', 'email', 'country', 'function', 'type_of_contact', 'addedBy']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['first_name', 'last_name', 'email', 'country', 'function', 'type_of_contact', 'addedBy'];"></tr>
          </table>
        </ng-container>
        <ng-template #noContact>
          <p><em>No Contacts added</em></p>
        </ng-template>



        <h4>Countries</h4>
        <ng-container *ngIf="projectDetails?.length && projectDetails[4]?.length; else noCountries">
          <table mat-table [dataSource]="projectDetails[4]" class="mat-elevation-z8">
            <ng-container matColumnDef="country">
              <th mat-header-cell *matHeaderCellDef>Country</th>
              <td mat-cell *matCellDef="let row">{{row.country.name}}</td>
            </ng-container>
            <ng-container matColumnDef="addedBy">
              <th mat-header-cell *matHeaderCellDef>Added By</th>
              <td mat-cell *matCellDef="let row">{{row.user}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['country', 'addedBy']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['country', 'addedBy'];"></tr>
          </table>
        </ng-container>
        <ng-template #noCountries>
          <p><em>No Countries added</em></p>
        </ng-template>



        <h4>Funding Sources</h4>
        <ng-container *ngIf="projectDetails?.length && projectDetails[5]?.length; else noFundingSources">
          <table mat-table [dataSource]="projectDetails[5]" class="mat-elevation-z8">
            <ng-container matColumnDef="funding_source">
              <th mat-header-cell *matHeaderCellDef>Funding Source</th>
              <td mat-cell *matCellDef="let row">{{row.funding_source}}</td>
            </ng-container>
            <ng-container matColumnDef="addedBy">
              <th mat-header-cell *matHeaderCellDef>Added By</th>
              <td mat-cell *matCellDef="let row">{{row.user}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['funding_source', 'addedBy']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['funding_source', 'addedBy'];"></tr>
          </table>
        </ng-container>
        <ng-template #noFundingSources>
          <p><em>No Funding Sources added</em></p>
        </ng-template>



        <h4>Partnerships</h4>
        <ng-container *ngIf="projectDetails?.length && projectDetails[6]?.length; else noPartnerships">
          <table mat-table [dataSource]="projectDetails[6]" class="mat-elevation-z8">
            <ng-container matColumnDef="partner">
              <th mat-header-cell *matHeaderCellDef>Partner</th>
              <td mat-cell *matCellDef="let row">{{row.partner}}</td>
            </ng-container>
            <ng-container matColumnDef="partnership_type">
              <th mat-header-cell *matHeaderCellDef>Partnership Type</th>
              <td mat-cell *matCellDef="let row">{{row.partnership_type}}</td>
            </ng-container>
            <ng-container matColumnDef="addedBy">
              <th mat-header-cell *matHeaderCellDef>Added By</th>
              <td mat-cell *matCellDef="let row">{{row.user}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['partner', 'partnership_type', 'addedBy']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['partner', 'partnership_type', 'addedBy'];"></tr>
          </table>
        </ng-container>
        <ng-template #noPartnerships>
          <p><em>No Partnerships added</em></p>
        </ng-template>



        <h4>Themes</h4>
        <ng-container *ngIf="projectDetails?.length && projectDetails[7]?.length; else noThemes">
          <table mat-table [dataSource]="projectDetails[7]" class="mat-elevation-z8">
            <ng-container matColumnDef="theme">
              <th mat-header-cell *matHeaderCellDef>Theme</th>
              <td mat-cell *matCellDef="let row">{{row.theme}}</td>
            </ng-container>
            <ng-container matColumnDef="addedBy">
              <th mat-header-cell *matHeaderCellDef>Added By</th>
              <td mat-cell *matCellDef="let row">{{row.user}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['theme', 'addedBy']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['theme', 'addedBy'];"></tr>
          </table>
        </ng-container>
        <ng-template #noThemes>
          <p><em>No Themes added</em></p>
        </ng-template>

        <div class="actions">
          <button mat-raised-button color="warn" (click)="reject(project)" [disabled]="isActionDisabled">Reject</button>
          <button mat-raised-button color="accent" (click)="approve(project)" [disabled]="isActionDisabled">Approve</button>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>

  <ng-template #noProjects>
    <p><em>No projects are pending approval.</em></p>
  </ng-template>

</section>